# Default owners
*   @bill-long @dpaulson45 @lusassl-msft

# Everything in Security is owned by those folks
/Security/src/   @ethanb-msft @dbacon247 @bill-long @dpaulson45

# Except these which are owned by Exchange
/Security/src/Test-ProxyLogon.ps1   @bill-long @dpaulson45 @lusassl-msft
/Security/src/Test-CVE-2021-34470.ps1   @bill-long @dpaulson45 @lusassl-msft

# Rob Whaley owns these
/Hybrid/        @tweekerz @bill-long @dpaulson45 @lusassl-msft
/Retention/     @tweekerz @bill-long @dpaulson45 @lusassl-msft

# Supportability owns this doc
/docs/Emerging-Issues.md    @Batre-MSFT @tweekerz @ninobb @nasir1786 @bill-long @dpaulson45 @lusassl-msft
