<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WriteStackTraceOnResponse" value="true" />
    <!-- Specifies the type of protocol that RUM should register itself as. -->
    <add key="RoutingUpdateModule.ProtocolType" value="PushNotifications" />
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="Microsoft.Exchange.PushNotifications.Server.Services.PushNotificationOnPremService" behaviorConfiguration="serviceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost" />
          </baseAddresses>
        </host>
        <endpoint name="PushNotifications" address="" binding="netNamedPipeBinding" bindingConfiguration="ServiceBinding" contract="Microsoft.Exchange.PushNotifications.IPublisherServiceContract" />
        <endpoint name="IssueRegistrationChallenge" address="" binding="netNamedPipeBinding" bindingConfiguration="ServiceBinding" contract="Microsoft.Exchange.PushNotifications.IAzureChallengeRequestServiceContract" />
        <endpoint name="DeviceRegistration" address="" binding="netNamedPipeBinding" bindingConfiguration="ServiceBinding" contract="Microsoft.Exchange.PushNotifications.IAzureDeviceRegistrationServiceContract" />
      </service>
    </services>
    <bindings>
      <netNamedPipeBinding>
        <binding name="ServiceBinding" maxBufferSize="3276800" maxReceivedMessageSize="3276800">
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="Microsoft.Exchange.PushNotifications.Server.Wcf.PushNotificationAuthorizationPolicy, Microsoft.Exchange.PushNotifications.Server, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <add verb="GET" path="mowapendingget.ashx" type="Microsoft.Exchange.PushNotifications.Server.PendingGet.MowaPendingGetRequestHandler, Microsoft.Exchange.PushNotifications.Server" name="MowaPendingGetRequestHandler" preCondition="managedHandler" />
    </handlers>
    <modules>
      <add name="HttpRequestFilteringModule" type="Microsoft.Exchange.HttpRequestFiltering.HttpRequestFilteringModule, Microsoft.Exchange.HttpRequestFiltering, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="RoutingUpdateModule" type="Microsoft.Exchange.HttpProxy.Routing.RoutingUpdateModule, Microsoft.Exchange.HttpProxy.Routing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="X-DiagInfo" value="SOLO-E16A" />
        <add name="X-BEServer" value="SOLO-E16A" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\ClientAccess\SharedWebConfig.config" />
  </assemblyBinding>
</configuration>