<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="customLists" type="Microsoft.Exchange.Transport.TransportAppConfig+ConfigurationListsSection,Microsoft.Exchange.Transport, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
  </configSections>
  <runtime>
    <gcServer enabled="true" />
    <generatePublisherEvidence enabled="false" />
  </runtime>
  <appSettings>
    <add key="AgentLogEnabled" value="true" />
    <add key="ResolverRetryInterval" value="30" />
    <add key="DeliverMoveMailboxRetryInterval" value="2" />
    <add key="ResolverLogLevel" value="Disabled" />
    <add key="ExpansionSizeLimit" value="1000" />
    <add key="MaxIdleTimeBeforeResubmit" value="12:00:00" />
    <add key="MailboxDeliveryQueueRetryInterval" value="00:05:00" />
    <add key="MailboxDeliveryFastQueueRetryInterval" value="00:00:02" />
    <add key="QuarantinedMailboxRetryInterval" value="00:05:00" />
    <add key="QueueGlitchRetryInterval" value="00:01:00" />
    <add key="QueueGlitchRetryCount" value="4" />
    <add key="PFReplicaAgeThreshold" value="2.00:00:00" />
    <add key="MaxQueueViewerQueryResultCount" value="250000" />
    <add key="RoutingConfigReloadInterval" value="12:00:00" />
    <add key="DumpsterAllowDuplicateDelivery" value="false" />
    <add key="DatabaseCheckPointDepthMax" value="384MB" />
    <add key="DatabaseMaxCacheSize" value="512MB" />
    <add key="DatabaseMinCacheSize" value="32MB" />
    <add key="DatabaseCacheFlushStart" value="3" />
    <add key="DatabaseCacheFlushStop" value="5" />
    <add key="BufferedStreamSize" value="32KB" />
    <add key="QueueDatabaseMaxConnections" value="4" />
    <add key="QueueDatabaseLoggingFileSize" value="5MB" />
    <add key="QueueDatabaseLoggingBufferSize" value="5MB" />
    <add key="QueueDatabaseMaxBackgroundCleanupTasks" value="32" />
    <add key="QueueDatabaseOnlineDefragSchedule" value="1:00:00" />
    <add key="QueueDatabaseOnlineDefragTimeToRun" value="3:00:00" />
    <add key="QueueDatabasePath" value="C:\Program Files\Microsoft\Exchange Server\V15\TransportRoles\data\Queue" />
    <add key="QueueDatabaseLoggingPath" value="C:\Program Files\Microsoft\Exchange Server\V15\TransportRoles\data\Queue" />
    <add key="IPFilterDatabasePath" value="C:\Program Files\Microsoft\Exchange Server\V15\TransportRoles\data\IpFilter" />
    <add key="IPFilterDatabaseLoggingPath" value="C:\Program Files\Microsoft\Exchange Server\V15\TransportRoles\data\IpFilter" />
    <add key="TemporaryStoragePath" value="C:\Program Files\Microsoft\Exchange Server\V15\TransportRoles\data\Temp" />
    <add key="CrashOnStopTimeout" value="false" />
    <add key="DnsFaultTolerance" value="Lenient" />
    <add key="PriorityQueuingEnabled" value="false" />
    <add key="MaxPerDomainHighPriorityConnections" value="3" />
    <add key="MaxPerDomainNormalPriorityConnections" value="15" />
    <add key="MaxPerDomainLowPriorityConnections" value="2" />
    <add key="HighPriorityMessageExpirationTimeout" value="8:00:00" />
    <add key="NormalPriorityMessageExpirationTimeout" value="2.00:00:00" />
    <add key="LowPriorityMessageExpirationTimeout" value="2.00:00:00" />
    <add key="HighPriorityDelayNotificationTimeout" value="00:30:00" />
    <add key="NormalPriorityDelayNotificationTimeout" value="4:00:00" />
    <add key="LowPriorityDelayNotificationTimeout" value="8:00:00" />
    <add key="MaxHighPriorityMessageSize" value="250KB" />
    <add key="ByteEncoderTypeFor7BitCharsets" value="1" />
    <add key="PercentileLatencyExpiryInterval" value="00:05:00" />
    <add key="PercentileLatencyInfinityInterval" value="00:15:00" />
    <add key="SyncLogEnabled" value="false" />
    <add key="SyncLogLoggingLevel" value="0" />
    <add key="SmtpAvailabilityMinConnectionsToMonitor" value="20" />
    <add key="DeliveryFailureMinSampleRouting5_4_4" value="200" />
    <add key="DeliveryFailureMinSampleResolver5_1_4" value="0" />
    <add key="DeliveryFailureMinSampleResolver5_2_0" value="1000" />
    <add key="DeliveryFailureMinSampleResolver5_2_4" value="200" />
    <add key="DeliveryFailureMinSampleResolver5_4_6" value="0" />
    <add key="DeliveryFailureMinSampleDeliverySMTP5_6_0" value="200" />
    <add key="DeliveryFailureMinSampleStoreDriver5_2_0" value="500" />
    <add key="DeliveryFailureMinSampleStoreDriver5_6_0" value="100" />
    <add key="DeliveryFailureMinSampleDeliveryAgent" value="1000" />
    <add key="DeliveryFailureMinSampleForeignConnector" value="1000" />
    <add key="DnsIpv6Enabled" value="true" />
    <add key="SmtpSendTreatTransientErrorsAsPermanentErrors" value="true" />
    <add key="ShadowRedundancyPromotionEnabled" value="False" />
    <add key="IsResolverEnabled" value="True" />
  </appSettings>
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding" maxConnections="100000">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1009/Microsoft.Exchange.Security.Authentication.FederatedAuthService" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="Microsoft.Exchange.Security.Authentication.FederatedAuthService.IAuthService" name="Microsoft.Exchange.Security.Authentication.FederatedAuthService" />
    </client>
  </system.serviceModel>
  <customLists>
    <downgradedResponses>
      <add value="504 5.7.4 Unrecognized authentication type" />
      <add value="530 5.7.0 Must issue a STARTTLS command first" />
      <add value="530 5.7.1 Client was not authenticated" />
      <add value="530 5.7.1 Not authenticated" />
      <add value="535 5.7.3 Authentication unsuccessful" />
      <add value="550 5.2.2 Submission quota exceeded" />
      <add value="550 5.3.5 System incorrectly configured" />
      <add value="550 5.4.1" />
      <add value="550 5.7.1" />
      <add value="550 5.7.7 Access Denied, bad EHLO" />
      <add value="554 5.4.4 Unable to route" />
      <add value="554 5.4.4 Unable to route due to invalid recipient address" />
      <add value="554 5.6.0 Invalid message content" />
      <add value="554 5.7.3 Unable to initialize security subsystem" />
    </downgradedResponses>
    <upgradedResponses>
      <add value="421 4.7.1 ^.*All messages from .* will be permanently deferred" />
    </upgradedResponses>
  </customLists>
</configuration>