<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="HttpProxy.ProtocolType" value="Ews" />
    <add key="HttpProxy.NoMailboxFallbackRouting" value="true" />
    <add key="HttpProxy.NoMailboxFallbackRoutingRandomBackEnd" value="true" />
    <add key="OAuthHttpModule.Profiles" value="S2SAppActAs|S2SAppOnly|V1AppActAs|V1AppOnly|Callback" />
    <add key="OAuthHttpModule.V1AppScopes" value="*" />
    <add key="OAuthHttpModule.V1AppRoles" value="*" />
    <add key="OAuthHttpModule.ResourceType" value="Exchange" />
    <add key="WsSecurityEndpointEnabled" value="True" />
  </appSettings>
  <system.webServer>
    <serverRuntime appConcurrentRequestLimit="65535" uploadReadAheadSize="0" />
    <modules>
      <!-- Standard set of module removes for reducing per-request memory footprint and to reduce native/managed context switches -->
      <remove name="CustomErrorModule" />
      <remove name="DefaultAuthentication" />
      <remove name="DirectoryListingModule" />
      <remove name="DynamicCompressionModule" />
      <remove name="FileAuthorization" />
      <remove name="FormsAuthentication" />
      <remove name="HttpCacheModule" />
      <remove name="OutputCache" />
      <remove name="Profile" />
      <remove name="RequestFilteringModule" />
      <remove name="RoleManager" />
      <remove name="ScriptModule-4.0" />
      <remove name="ServiceModel" />
      <remove name="ServiceModel-4.0" />
      <remove name="Session" />
      <remove name="StaticCompressionModule" />
      <remove name="UrlAuthorization" />
      <remove name="UrlMappingsModule" />
      <remove name="UrlRoutingModule-4.0" />
      <!-- Keep the HostHeaderValidationModule first - it prevents excessive and unnecessary Watsons that result from bogus host headers -->
      <add name="HostHeaderValidationModule" type="Microsoft.Exchange.HttpUtilities.HostHeaderValidationModule, Microsoft.Exchange.HttpUtilities, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="HttpRequestFilteringModule" type="Microsoft.Exchange.HttpRequestFiltering.HttpRequestFilteringModule, Microsoft.Exchange.HttpRequestFiltering, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="AnonymousRequestFilterModule" type="Microsoft.Exchange.HttpUtilities.AnonymousRequestFilterModule, Microsoft.Exchange.HttpUtilities, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="HttpProxy" type="Microsoft.Exchange.HttpProxy.ProxyModule,Microsoft.Exchange.FrontEndHttpProxy,Version=15.0.0.0,Culture=neutral,PublicKeyToken=31bf3856ad364e35" preCondition="" />
      <add name="OAuthAuthModule" type="Microsoft.Exchange.Security.OAuth.OAuthHttpModule" />
    </modules>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="67108864" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-FEServer" value="SOLO-E19A" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <machineKey validationKey="AutoGenerate,IsolateApps" />
    <compilation defaultLanguage="c#" debug="false">
      <assemblies>
        <!-- Any assembly not in the GAC or the ews\bin folder that is referenced from an aspx page needs to be
                added here.  An assembly can be referenced by an aspx page through a namespace import or through usage
                of a method or property that returns a type from that assembly.  aspx page compilation is similar to
                regular c# compilation where any assembly that is referenced in the code needs to be provided to the
                compiler at compile time.  These entries are our means of providing additional assembly references to
                the compiler.  All assemblies in the GAC and ews\bin are referenced automatically.
                -->
        <add assembly="Microsoft.Exchange.Data.Directory, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.Security, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.FrontEndHttpProxy, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.HttpProxy.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.HttpRequestFiltering, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2097151" maxUrlLength="2048" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding" maxConnections="100000">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1009/Microsoft.Exchange.Security.Authentication.FederatedAuthService" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="Microsoft.Exchange.Security.Authentication.FederatedAuthService.IAuthService" name="Microsoft.Exchange.Security.Authentication.FederatedAuthService" />
    </client>
  </system.serviceModel>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\FrontEnd\HttpProxy\SharedWebConfig.config" />
  </assemblyBinding>
</configuration>