<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <location inheritInChildApplications="false">
    <system.webServer>
      <serverRuntime appConcurrentRequestLimit="65535" uploadReadAheadSize="0" />
      <modules>
        <!-- Standard set of module removes for reducing per-request memory footprint and to reduce native/managed context switches -->
        <remove name="CustomErrorModule" />
        <remove name="DefaultAuthentication" />
        <remove name="DirectoryListingModule" />
        <remove name="DynamicCompressionModule" />
        <remove name="FileAuthorization" />
        <remove name="FormsAuthentication" />
        <remove name="HttpCacheModule" />
        <remove name="OutputCache" />
        <remove name="Profile" />
        <remove name="ProtocolSupportModule" />
        <remove name="RequestFilteringModule" />
        <remove name="RoleManager" />
        <remove name="ScriptModule-4.0" />
        <remove name="ServiceModel" />
        <remove name="ServiceModel-4.0" />
        <remove name="Session" />
        <remove name="StaticCompressionModule" />
        <remove name="UrlAuthorization" />
        <remove name="UrlMappingsModule" />
        <remove name="UrlRoutingModule-4.0" />

        <!-- Keep the HostHeaderValidationModule first - it prevents excessive and unnecessary Watsons that result from bogus host headers -->
        <add name="HostHeaderValidationModule" type="Microsoft.Exchange.HttpUtilities.HostHeaderValidationModule, Microsoft.Exchange.HttpUtilities, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="OwaJavascriptRedirectModule" type="Microsoft.Exchange.HttpRedirect.OwaJavascriptRedirectModule, Microsoft.Exchange.HttpRedirectModules, Version=15.0.0.0,Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </modules>
    </system.webServer>
    <system.web>
      <machineKey validationKey="AutoGenerate,IsolateApps" />
      <compilation defaultLanguage="c#" debug="false">
        <assemblies>
          <add assembly="Microsoft.Exchange.HttpRedirectModules, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        </assemblies>
      </compilation>
    </system.web>
  </location>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\FrontEnd\HttpProxy\SharedWebConfig.config"/>
  </assemblyBinding>
      <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Strict-Transport-Security" value="max-age=300; includeSubDomains" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
