<?xml version="1.0" encoding="utf-8"?>
<!-- Note: As an alternative to hand editing this file you can use the web admin tool to
         configure settings for your application. Use the Website->Asp.Net Configuration option
         in Visual Studio.
     A full list of settings and comments can be found in machine.config.comments usually
     located in \Windows\Microsft.Net\Frameworks\v2.x\Config -->
<configuration>
  <configSections>
    <section name="ExchangeDiagnosticsSection" type="Microsoft.Exchange.Data.ApplicationLogic.ExchangeDiagnosticsSection, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <ExchangeDiagnosticsSection>
    <DiagnosticsComponents>
      <DiagnosticsComponent name="ProcessInfo" implementation="Microsoft.Exchange.Data.ApplicationLogic.CommonHandlers.ProcessDiagnosticsInfoManager, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
      <DiagnosticsComponent name="UserWorkloadManager" implementation="Microsoft.Exchange.WorkloadManagement.UserWorkloadManagerHandler, Microsoft.Exchange.WorkloadManagement, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
      <DiagnosticsComponent name="EwsBudgetCache" implementation="Microsoft.Exchange.Services.Diagnostics.EwsBudgetCacheHandler, Microsoft.Exchange.Services, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
      <DiagnosticsComponent name="MailApps" implementation="Microsoft.Exchange.Data.ApplicationLogic.Extension.MailAppsDiagnosticsHandler, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
      <DiagnosticsComponent name="GetConditionMetadata" implementation="Microsoft.Exchange.Data.ApplicationLogic.Diagnostics.GetConditionMetadataHandler, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
      <DiagnosticsComponent name="RegisterCondition" implementation="Microsoft.Exchange.Data.ApplicationLogic.Diagnostics.RegisterConditionHandler, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
      <DiagnosticsComponent name="RemoveCondition" implementation="Microsoft.Exchange.Data.ApplicationLogic.Diagnostics.RemoveConditionHandler, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
    </DiagnosticsComponents>
  </ExchangeDiagnosticsSection>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\ClientAccess\SharedWebConfig.config" />
  </assemblyBinding>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="5.6.0.0" href="file:///C:\Program Files\Microsoft\Exchange Server\V15\bin\System.Spatial.dll" />
        <bindingRedirect oldVersion="5.2.0.0" newVersion="5.6.0.0" />
        <bindingRedirect oldVersion="5.3.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="5.6.0.0" href="file:///C:\Program Files\Microsoft\Exchange Server\V15\bin\Microsoft.Data.Edm.dll" />
        <bindingRedirect oldVersion="5.2.0.0" newVersion="5.6.0.0" />
        <bindingRedirect oldVersion="5.3.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="5.6.0.0" href="file:///C:\Program Files\Microsoft\Exchange Server\V15\bin\Microsoft.Data.OData.dll" />
        <bindingRedirect oldVersion="5.2.0.0" newVersion="5.6.0.0" />
        <bindingRedirect oldVersion="5.3.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <codeBase version="5.6.0.0" href="file:///C:\Program Files\Microsoft\Exchange Server\V15\bin\Microsoft.Data.Services.Client.dll" />
        <bindingRedirect oldVersion="5.2.0.0" newVersion="5.6.0.0" />
        <bindingRedirect oldVersion="5.3.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <codeBase version="6.0.0.0" href="file:///C:\Program Files\Microsoft\Exchange Server\V15\bin\Newtonsoft.Json.dll" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="BudgetType" value="OData" />
    <add key="WorkloadType" value="OData" />
    <add key="TokenBasedBudget.WindowLengthInSeconds" value="60" />
    <add key="EnableSchemaValidationOverride" value="false" />
    <add key="MaxDelayOnHighSystemCpu" value="2000" />
    <add key="MaxDelayOnHighProcessCpu" value="2000" />
    <add key="EncodeStringProperties" value="false" />
    <add key="LiveIdBasicAuthModule.ApplicationName" value="Microsoft.Exchange.Rest" />
    <add key="LiveIdBasicAuthenticator.RehydrateLiveIdIdentity" value="true" />
    <add key="AddAggregatedAccount.MaxAggregatedAccountsAllowed" value="10" />
    <!-- Budget action maximum elapsed times before logging -->
    <add key="HangingConnection_MaxTimeInMinutes" value="60" />
    <!-- Setting for whether online meetings is enabled. -->
    <add key="IsOnlineMeetingEnabled" value="true" />
    <add key="OnlineMeetingExternalAutodiscoverPrefix" value="lyncdiscover" />
    <add key="OnlineMeetingInternalAutodiscoverPrefix" value="lyncdiscoverinternal" />
    <add key="DisableReferenceAttachment" value="false" />
    <!-- Timeout for E-Discovery application making EWS call on a remote archive mailbox -->
    <add key="RemoteEwsClientTimeout" value="540000" />
    <!-- Available settings for the Account Aggregation OpenTenantManager -->
    <!--
        <add key="OpenTenantManager.ActiveTenantLifespan_Hours" value="24" />
        <add key="OpenTenantManager.ActiveTenantVacancyEvaluationInterval_Minutes" value="5" />
        <add key="OpenTenantManager.MaximumUsersPerTenantThreshold" value="100000" />
        <add key="OpenTenantManager.MinimumDelayBetweenFailedEvaluations_Seconds" value="10" />
        -->
    <!-- Settings for performance optimization-->
    <!--Use GC.Collect to recover from aggressive XmlReader allocations-->
    <add key="UseGcCollect" value="true" />
    <!--Size of CreateItem message to trigger GC.Collect processing-->
    <add key="CreateItemRequestSizeThreshold" value="5120000" />
    <!--Size of PrivateWorkingSetto trigger GC.Collect processing-->
    <add key="PrivateWorkingSetThreshold" value="716800000" />
    <!--Minimum interval to wait between GC.Collect calls-->
    <add key="CollectIntervalInMilliseconds" value="120000" />
    <!-- Specifies the type of protocol that RUM should register itself as. -->
    <add key="RoutingUpdateModule.ProtocolType" value="Rest" />
    <!-- Specifies whether requests for LAM/XAM monitoring users should not be throttled. -->
    <add key="DisableMonitoringUserThrottling" value="true" />
    <!-- PSDirectInvoke settings -->
    <add key="PSDirectInvokeEnabledModules" value="Logging,LatencyTracker" />
    <!-- DeviceClassCache max start delay in seconds: 6 * 60 * 60, i.e. 6 hours -->
    <add key="DeviceClassCacheMaxStartDelay" value="21600" />
    <!-- DeviceClassCache max AD objects that can be uploaded in one refresh run -->
    <add key="DeviceClassCacheMaxADUploadCount" value="300" />
    <!-- DeviceClassCache per-org refresh interval in seconds: 3 * 60 * 60, i.e. 3 hours -->
    <add key="DeviceClassCachePerOrgRefreshInterval" value="10800" />
    <!-- DeviceClassCache max number of deviceclass nodes created under each org -->
    <add key="DeviceClassPerOrgMaxADCount" value="1000" />
    <!-- DeviceClassCache how long the deviceclass objects can exist in AD -->
    <!-- before they get cleaned up in days: 90, i.e. 3 months -->
    <add key="DeviceClassCacheADCleanupInterval" value="90" />
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="204800" maxUrlLength="2048" maxQueryStringLength="4096" fcnMode="Disabled" requestPathInvalidCharacters="&lt;,&gt;,*,%,\,?" requestValidationMode="2.0" relaxedUrlToFileSystemMapping="true" targetFramework="4.5.1" />
    <compilation>
      <assemblies>
        <add assembly="Microsoft.Exchange.Security, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <customErrors mode="On" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,MERGE,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="ODataRequestHandler" path="api/*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="Microsoft.Exchange.Services.OData.Web.HttpHandler, Microsoft.Exchange.Odata, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <modules>
      <remove name="ServiceModel" />
      <add name="HttpRequestFilteringModule" type="Microsoft.Exchange.HttpRequestFiltering.HttpRequestFilteringModule, Microsoft.Exchange.HttpRequestFiltering, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="RoutingUpdateModule" type="Microsoft.Exchange.HttpProxy.Routing.RoutingUpdateModule, Microsoft.Exchange.HttpProxy.Routing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add type="Microsoft.Exchange.OData.Web.AnonymousRequestHttpModule" name="AnonymousRequestHttpModule" />
      <add type="Microsoft.Exchange.Security.Authentication.BackendRehydrationModule" name="BackendRehydrationModule" />
    </modules>
    <!-- We currently turn off integrated mode validation because we currently use the httpHandlers section 
        to remove the association between asmx extension and ASP.Net.  Once we update our web.config 
        file to correct the above, we can remove the validation element.
        http://msdn2.microsoft.com/en-us/library/bb422433.aspx -->
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="209715200" maxQueryString="4096" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-DiagInfo" value="SOLO-E19A" />
        <add name="X-BEServer" value="SOLO-E19A" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
