<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="HttpProxy.ProtocolType" value="RpcHttp" />
    <add key="HttpProxy.RpcHttpOutConnectingTimeoutInSeconds" value="30" />
    <add key="HttpProxy.RpcHttpHeadRequestEnabled" value="true" />
    <add key="HttpProxy.RpcHttpHeadRequestTimeout" value="5000" />
    <add key="HttpProxy.UseSmartBufferSizing" value="true" />
    <add key="HttpProxy.RequestBufferSize" value="Size16K" />
    <add key="HttpProxy.MinimumRequestBufferSize" value="Size16K" />
    <add key="HttpProxy.ResponseBufferSize" value="Size4K" />
    <add key="HttpProxy.MinimumResponseBufferSize" value="Size4K" />
    <add key="NativeHttpProxy.ForceResponseStreaming" value="true" />
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager useNagleAlgorithm="false" />
    </settings>
  </system.net>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding" maxConnections="100000">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1009/Microsoft.Exchange.Security.Authentication.FederatedAuthService" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="Microsoft.Exchange.Security.Authentication.FederatedAuthService.IAuthService" name="Microsoft.Exchange.Security.Authentication.FederatedAuthService" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation defaultLanguage="c#" debug="false">
      <assemblies>
        <add assembly="Microsoft.Exchange.FrontEndHttpProxy, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.HttpProxy.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2097152" />
  </system.web>
  <system.webServer>
    <handlers accessPolicy="Read, Script">
      <clear />
      <!-- The HttpProxy module will actually remap the handlers, but IIS won't give it a chance if we don't have one listed here.  So just default to the StaticFile handler. -->
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers>
    <modules>
      <remove name="ServiceModel" />
      <remove name="ServiceModel-4.0" />
      <add name="HostHeaderValidationModule" type="Microsoft.Exchange.HttpUtilities.HostHeaderValidationModule, Microsoft.Exchange.HttpUtilities, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="HttpProxy" type="Microsoft.Exchange.HttpProxy.ProxyModule,Microsoft.Exchange.FrontEndHttpProxy,Version=15.0.0.0,Culture=neutral,PublicKeyToken=31bf3856ad364e35" preCondition="" />
      <add name="RpcHttpLoggingModule" type="Microsoft.Exchange.RpcHttpModules.RpcHttpLoggingModule, Microsoft.Exchange.RpcHttpModules, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="X-FEServer" value="SOLO-E15A" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\FrontEnd\HttpProxy\SharedWebConfig.config" />
  </assemblyBinding>
</configuration>