<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="HttpProxy.ProtocolType" value="PowerShell" />
    <add key="HttpProxy.RetryOnConnectivityErrorEnabled" value="true" />
    <add key="CertificateAuthenticationModule.CafeProxy" value="true" />
    <add key="ConcurrencyGuards.BackendServerLimit" value="5000" />
  </appSettings>
  <system.webServer>
    <modules>
      <remove name="ServiceModel" />
      <remove name="ServiceModel-4.0" />
      <add name="HostHeaderValidationModule" type="Microsoft.Exchange.HttpUtilities.HostHeaderValidationModule, Microsoft.Exchange.HttpUtilities, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="CertificateAuthModule" type="Microsoft.Exchange.Configuration.CertificateAuthentication.CertificateAuthenticationModule" />
      <add name="EMCVersionBlockerModule" type="Microsoft.Exchange.Configuration.RedirectionModule.EMCVersionBlockerModule" />
      <add name="kerbauth" />
      <add name="PowerShellBasicAuthNRedirectModule" type="Microsoft.Exchange.Configuration.Core.PowerShellBasicAuthNRedirectModule" />
      <add name="RpsFriendlyErrorModule" type="Microsoft.Exchange.HttpProxy.RpsFriendlyErrorModule,Microsoft.Exchange.FrontEndHttpProxy,Version=15.0.0.0,Culture=neutral,PublicKeyToken=31bf3856ad364e35" />
      <add name="HttpProxy" type="Microsoft.Exchange.HttpProxy.ProxyModule,Microsoft.Exchange.FrontEndHttpProxy,Version=15.0.0.0,Culture=neutral,PublicKeyToken=31bf3856ad364e35" preCondition="" />
    </modules>
    <httpErrors existingResponse="PassThrough" />
    <httpRedirect enabled="false" />
    <serverRuntime uploadReadAheadSize="512000" />
    <httpProtocol>
      <customHeaders>
        <add name="X-FEServer" value="SOLO-E15A" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <machineKey validationKey="AutoGenerate,IsolateApps" />
    <compilation defaultLanguage="c#" debug="false">
      <assemblies>
        <!-- Any assembly not in the GAC or the bin folder that is referenced from an aspx page needs to be
                added here.  An assembly can be referenced by an aspx page through a namespace import or through usage
                of a method or property that returns a type from that assembly.  aspx page compilation is similar to
                regular c# compilation where any assembly that is referenced in the code needs to be provided to the
                compiler at compile time.  These entries are our means of providing additional assembly references to
                the compiler.  All assemblies in the GAC and bin are referenced automatically.
                -->
        <add assembly="Microsoft.Exchange.Clients.Strings, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.Data.Directory, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.Clients.Common, Version=15.0.0.0,Culture=neutral, publicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.Clients.Security, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.Configuration.Core, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.Configuration.CertificateAuth, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.Configuration.RedirectionModule, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.FrontEndHttpProxy, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="Microsoft.Exchange.HttpProxy.Common, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\FrontEnd\HttpProxy\SharedWebConfig.config" />
  </assemblyBinding>
</configuration>