<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="ExchangeDiagnosticsSection" type="Microsoft.Exchange.Data.ApplicationLogic.ExchangeDiagnosticsSection, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <ExchangeDiagnosticsSection>
    <DiagnosticsComponents>
      <DiagnosticsComponent name="ProcessInfo" implementation="Microsoft.Exchange.Data.ApplicationLogic.CommonHandlers.ProcessDiagnosticsInfoManager, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
      <DiagnosticsComponent name="VariantConfiguration" implementation="Microsoft.Exchange.Data.ApplicationLogic.Diagnostics.SettingOverrideSyncHandler, Microsoft.Exchange.Data.ApplicationLogic, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" methodName="GetInstance" />
    </DiagnosticsComponents>
  </ExchangeDiagnosticsSection>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\ClientAccess\SharedWebConfig.config" />
  </assemblyBinding>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application.
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <httpHandlers>
      <remove path="*.xml" verb="*">
      </remove>
      <remove path="*.asmx" verb="*">
      </remove>
    </httpHandlers>
    <compilation defaultLanguage="c#" debug="false">
      <buildProviders>
        <remove extension=".xml" />
        <add extension=".xml" type="System.ServiceModel.Activation.ServiceBuildProvider, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <remove extension=".asmx" />
        <add extension=".asmx" type="System.ServiceModel.Activation.ServiceBuildProvider, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </buildProviders>
      <assemblies>
        <!--add assembly="Microsoft.Exchange.Common, Version=8.0.00207.0, Culture=neutral, publicKeyToken=31bf3856ad364e35"/-->
        <!--add assembly="Microsoft.Exchange.Data.Common, Version=8.0.00207.0, Culture=neutral, publicKeyToken=31bf3856ad364e35"/-->
        <add assembly="Microsoft.Exchange.Security, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable.
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running
           on the local Web server. This setting is recommended for security purposes, so
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="RemoteOnly">
    </customErrors>
    <!--  AUTHENTICATION
          This section sets the authentication policies of the application. Possible modes are "Windows",
          "Forms", "Passport" and "None"

          "None" No authentication is performed.
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to
           its settings for the application. Anonymous access must be disabled in IIS.
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*" />
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application.
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the
          application trace log by browsing the "trace.axd" page from your web application
          root.
    -->
    <trace enabled="false" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="false" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session.
          If cookies are not available, a session can be tracked by adding a session identifier to the URL.
          To disable cookies, set sessionState cookieless="true".
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    -->
    <sessionState mode="Off" cookieless="false" />
    <!--pages enableViewState="true" /-->
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application.
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <identity impersonate="false" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <client>
      <endpoint address="net.tcp://localhost:1009/Microsoft.Exchange.Security.Authentication.FederatedAuthService" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="Microsoft.Exchange.Security.Authentication.FederatedAuthService.IAuthService" name="Microsoft.Exchange.Security.Authentication.FederatedAuthService" />
    </client>
    <services>
      <service name="Microsoft.Exchange.Autodiscover.WCF.LegacyAutodiscoverService" behaviorConfiguration="Impersonation">
        <endpoint address="" binding="customBinding" bindingConfiguration="AutodiscoverAnonymousHttpsBinding" name="Https" contract="Microsoft.Exchange.Autodiscover.WCF.ILegacyAutodiscover" />
        <endpoint address="" binding="customBinding" bindingConfiguration="AutodiscoverAnonymousHttpBinding" name="Http" contract="Microsoft.Exchange.Autodiscover.WCF.ILegacyAutodiscover" />
      </service>
      <service name="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverService" behaviorConfiguration="WSAutoDiscoverServiceBehavior">
        <endpoint address="" binding="customBinding" bindingConfiguration="AutodiscoverSoapAnonymousHttpsBinding" name="Https" contract="Microsoft.Exchange.Autodiscover.WCF.IAutodiscover" />
        <endpoint address="" binding="customBinding" bindingConfiguration="AutodiscoverSoapAnonymousHttpBinding" name="Http" contract="Microsoft.Exchange.Autodiscover.WCF.IAutodiscover" />
                <endpoint binding="customBinding" bindingConfiguration="WSSecurityHttpBinding" contract="Microsoft.Exchange.Autodiscover.WCF.IAutodiscover" address="wssecurity" />
                <endpoint binding="customBinding" bindingConfiguration="WSSecurityHttpsBinding" contract="Microsoft.Exchange.Autodiscover.WCF.IAutodiscover" address="wssecurity" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WSAutoDiscoverServiceBehavior">
          <serviceMetadata httpsGetEnabled="true" externalMetadataLocation="../Services.wsdl" />
          <serviceAuthorization serviceAuthorizationManagerType="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverAuthorizationManager, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <serviceThrottling maxConcurrentCalls="2147483647" />
          <AutodiscoverServiceCredentials>
            <issuedTokenAuthentication certificateValidationMode="None" audienceUriMode="Never">
              <knownCertificates />
            </issuedTokenAuthentication>
            <clientCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverX509CertificateValidator, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" revocationMode="Online" />
            </clientCertificate>
          </AutodiscoverServiceCredentials>
        </behavior>
        <behavior name="Impersonation">
          <serviceAuthorization serviceAuthorizationManagerType="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverAuthorizationManager, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
          <serviceThrottling maxConcurrentCalls="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding" maxConnections="100000">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="AutodiscoverAnonymousHttpsBinding">
          <LegacyMessageEncoderBindingElement />
          <httpsTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="StreamedRequest" />
        </binding>
        <binding name="AutodiscoverAnonymousHttpBinding">
          <LegacyMessageEncoderBindingElement />
          <httpTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="StreamedRequest" />
        </binding>
        <binding name="AutodiscoverBasicHttpsBinding">
          <LegacyMessageEncoderBindingElement />
          <httpsTransport authenticationScheme="Basic" maxReceivedMessageSize="8388608" transferMode="StreamedRequest" />
        </binding>
        <binding name="AutodiscoverBasicHttpBinding">
          <LegacyMessageEncoderBindingElement />
          <httpTransport authenticationScheme="Basic" maxReceivedMessageSize="8388608" transferMode="StreamedRequest" />
        </binding>
        <binding name="AutodiscoverNegotiateHttpsBinding">
          <LegacyMessageEncoderBindingElement />
          <httpsTransport authenticationScheme="Negotiate" maxReceivedMessageSize="8388608" transferMode="StreamedRequest">
                        <extendedProtectionPolicy policyEnforcement="Never">
                            <customServiceNames>
                                <clear />
                            </customServiceNames>
                        </extendedProtectionPolicy>
                    </httpsTransport>
        </binding>
        <binding name="AutodiscoverNegotiateHttpBinding">
          <LegacyMessageEncoderBindingElement />
          <httpTransport authenticationScheme="Negotiate" maxReceivedMessageSize="8388608" transferMode="StreamedRequest">
                        <extendedProtectionPolicy policyEnforcement="Never">
                            <customServiceNames>
                                <clear />
                            </customServiceNames>
                        </extendedProtectionPolicy>
                    </httpTransport>
        </binding>
        <binding name="AutodiscoverSoapAnonymousHttpsBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="AutodiscoverSoapAnonymousHttpBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="AutodiscoverSoapBasicHttpsBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Basic" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="AutodiscoverSoapBasicHttpBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport authenticationScheme="Basic" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="AutodiscoverSoapNegotiateHttpsBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Negotiate" maxReceivedMessageSize="8388608" transferMode="Streamed">
                        <extendedProtectionPolicy policyEnforcement="Never">
                            <customServiceNames>
                                <clear />
                            </customServiceNames>
                        </extendedProtectionPolicy>
                    </httpsTransport>
        </binding>
        <binding name="AutodiscoverSoapNegotiateHttpBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport authenticationScheme="Negotiate" maxReceivedMessageSize="8388608" transferMode="Streamed">
                        <extendedProtectionPolicy policyEnforcement="Never">
                            <customServiceNames>
                                <clear />
                            </customServiceNames>
                        </extendedProtectionPolicy>
                    </httpTransport>
        </binding>
        <binding name="WSSecurityHttpsBinding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
          <security authenticationMode="IssuedTokenOverTransport" defaultAlgorithmSuite="TripleDes" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Strict">
            <issuedTokenParameters keyType="BearerKey" />
          </security>
          <AutodiscoverSecurityBindingElement />
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="WSSecurityHttpBinding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
          <security authenticationMode="IssuedTokenOverTransport" defaultAlgorithmSuite="TripleDes" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Strict">
            <issuedTokenParameters keyType="BearerKey" />
          </security>
          <AutodiscoverSecurityBindingElement />
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="WSSecuritySymmetricKeyHttpsBinding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
          <security authenticationMode="IssuedTokenOverTransport" defaultAlgorithmSuite="TripleDes" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Strict">
            <issuedTokenParameters keyType="SymmetricKey" />
          </security>
          <AutodiscoverSecurityBindingElement />
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="WSSecuritySymmetricKeyHttpBinding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
          <security authenticationMode="IssuedTokenOverTransport" defaultAlgorithmSuite="TripleDes" includeTimestamp="true" keyEntropyMode="CombinedEntropy" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Strict">
            <issuedTokenParameters keyType="SymmetricKey" />
          </security>
          <AutodiscoverSecurityBindingElement />
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="WSSecurityX509CertHttpsBinding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
          <security authenticationMode="CertificateOverTransport" defaultAlgorithmSuite="TripleDes" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Strict">
          </security>
          <AutodiscoverSecurityBindingElement />
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpsTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
        <binding name="WSSecurityX509CertHttpBinding">
          <transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
          <security authenticationMode="CertificateOverTransport" defaultAlgorithmSuite="TripleDes" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" securityHeaderLayout="Strict">
          </security>
          <AutodiscoverSecurityBindingElement />
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <httpTransport authenticationScheme="Anonymous" maxReceivedMessageSize="8388608" transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
    <extensions>
      <bindingElementExtensions>
        <add name="LegacyMessageEncoderBindingElement" type="Microsoft.Exchange.Autodiscover.WCF.LegacyMessageEncoderBindingElementExtension, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add name="AutodiscoverSecurityBindingElement" type="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverSecurityBindingElementExtension, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </bindingElementExtensions>
      <behaviorExtensions>
        <add name="AutodiscoverServiceCredentials" type="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverServiceCredentialsElement, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <system.webServer>
    <handlers>
      <add name="AutodiscoverAsmxHandler" path="*.asmx" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
      <add name="AutodiscoverXMLHandler" path="*.xml" verb="POST" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
      <add name="AutodiscoverDiscoveryLegacyHandler" path="*.xml" verb="GET" type="Microsoft.Exchange.Autodiscover.WCF.LegacyHttpHandler, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
      <add name="AutodiscoverDiscoveryHandler" path="*.svc" verb="GET" type="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverDiscoveryHttpHandler, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
      <add name="AuthMetadataHttpHandler for Version 1.0" path="metadata/json/1" verb="GET" type="Microsoft.Exchange.Autodiscover.WCF.AuthMetadataHttpHandler, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
      <add name="AuthMetadataHttpHandler for Version Exchange/1.0" path="metadata/json/ex1" verb="GET" type="Microsoft.Exchange.Autodiscover.WCF.AuthMetadataHttpHandler, Microsoft.Exchange.Autodiscover, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
      <add name="AutoDiscoverV2_V10" path="*.json/V1.0" verb="GET" type="Microsoft.Exchange.AutoDiscoverV2.AutoDiscoverV2HandlerV10, Microsoft.Exchange.AutoDiscoverV2, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
      <add name="AutoDiscoverV2" path="*.json" verb="GET" type="Microsoft.Exchange.AutoDiscoverV2.AutoDiscoverV2Handler, Microsoft.Exchange.AutoDiscoverV2, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode" />
    </handlers>
    <modules>
      <add type="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverThrottlingModule, Microsoft.Exchange.Autodiscover" name="AutodiscoverThrottling" />
      <add type="Microsoft.Exchange.Security.Authentication.BackendRehydrationModule" name="BackendRehydrationModule" />
      <add type="Microsoft.Exchange.Autodiscover.WCF.AutodiscoverBasicAuthenticationHttpModule, Microsoft.Exchange.Autodiscover" name="AutodiscoverBasicAuthenticationHandler" />
    </modules>
    <!-- Leaves the response untouched if an existing response exists.-->
    <httpErrors existingResponse="PassThrough" />
    <!-- We currently turn off integrated mode validation because we currently use the httpHandlers section 
		to remove the association between asmx extension and ASP.Net.  Once we update our web.config 
		file to correct the above, we can remove the validation element.
		http://msdn2.microsoft.com/en-us/library/bb422433.aspx -->
    <validation validateIntegratedModeConfiguration="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-DiagInfo" value="SOLO-E15A" />
        <add name="X-BEServer" value="SOLO-E15A" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <appSettings>
    <add key="LiveIdBasicAuthModule.AllowLiveIDOnlyAuth" value="true" />
    <add key="LiveIdBasicAuthModule.ApplicationName" value="Microsoft.Exchange.Autodiscover" />
    <add key="LiveIdBasicAuthModule.RecoverableErrorStatus" value="456" />
    <add key="LiveIdBasicAuthModule.PasswordExpiredErrorStatus" value="457" />
    <add key="ActiveManagerCacheExpirationIntervalSecs" value="5" />
    <add key="ProxyRequestTimeOutInMilliSeconds" value="30000" />
    <add key="LiveIdNegotiateAuxiliaryModule.AllowLiveIDOnlyAuth" value="true" />
    <add key="TrustedClientsForInstanceBasedPerfCounters" value="bes" />
    <add key="InstanceBasedPerfCounterTimeWindowInterval" value="900000" />
    <add key="MobileSyncRedirectBypassEnabled" value="true" />
    <add key="MobileSyncRedirectBypassClientPrefixes" value="Acer,ADR9,Ally,Amazon,Android,ASUS,EasClient,FUJITSU,HTC,HUAWEI,LG,LS,Moto,Mozilla,NEC,Nokia,Palm,PANASONIC,PANTECH,Remoba,Samsung,SEMC,SHARP,SONY-,TOSHIBA,Vortex,VS,ZTE" />
  </appSettings>
</configuration>
