<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <modules>
      <remove name="ServiceModel" />
      <remove name="ServiceModel-4.0" />
      <add name="BackendRehydrationModule" type="Microsoft.Exchange.Security.Authentication.BackendRehydrationModule" />
      <add name="OABRequestHandler" type="Microsoft.Exchange.OABRequestHandler.HttpModule,Microsoft.Exchange.OABRequestHandler" preCondition="" />
    </modules>
    <httpErrors existingResponse="PassThrough" />
    <httpRedirect enabled="false" />
    <httpProtocol>
      <customHeaders>
        <add name="X-DiagInfo" value="SOLO-E15A" />
        <add name="X-BEServer" value="SOLO-E15A" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation>
      <assemblies>
        <add assembly="Microsoft.Exchange.Security, Version=15.0.0.0, Culture=neutral, publicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\ClientAccess\SharedWebConfig.config" />
  </assemblyBinding>
</configuration>
