<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="LiveIdBasicAuthModule.SyncAD" value="true" />
    <add key="LiveIdBasicAuthModule.ApplicationName" value="Microsoft.Exchange.RPC" />
    <add key="LiveIdBasicAuthModule.RecoverableErrorStatus" value="456" />
    <add key="LiveIdBasicAuthModule.PasswordExpiredErrorStatus" value="457" />
    <add key="LiveIdBasicAuthenticator.SyncUPN" value="true" />
  </appSettings>
  <system.net>
    <settings>
      <servicePointManager useNagleAlgorithm="false" />
    </settings>
  </system.net>
  <system.webServer>
    <handlers accessPolicy="Execute">
      <clear />
      <add name="RPCPROXY" path="*" verb="*" modules="IsapiModule" scriptProcessor="%SystemRoot%\system32\rpcproxy\rpcproxyshim.dll" requireAccess="Execute" preCondition="bitness64" />
    </handlers>
    <modules>
      <add name="RoutingUpdateModule" type="Microsoft.Exchange.HttpProxy.Routing.RoutingUpdateModule, Microsoft.Exchange.HttpProxy.Routing, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="RpcHttpLoggingModule" type="Microsoft.Exchange.RpcHttpModules.RpcHttpLoggingModule, Microsoft.Exchange.RpcHttpModules, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="RpcHttpDatabaseValidationModule" type="Microsoft.Exchange.RpcHttpModules.RpcHttpDatabaseValidationModule, Microsoft.Exchange.RpcHttpModules, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="RpcHttpConnectionRegistrationModule" type="Microsoft.Exchange.RpcHttpModules.RpcHttpConnectionRegistrationModule, Microsoft.Exchange.RpcHttpModules, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="RpcHttpMappingModule" type="Microsoft.Exchange.RpcHttpModules.RpcHttpMappingModule, Microsoft.Exchange.RpcHttpModules, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <add name="X-DiagInfo" value="SOLO-E15A" />
        <add name="X-BEServer" value="SOLO-E15A" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="false">
      <assemblies>
        <add assembly="Microsoft.Exchange.Security, Version=15.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="SecureBinding" maxConnections="100000">
          <security mode="Transport">
            <transport protectionLevel="EncryptAndSign" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1009/Microsoft.Exchange.Security.Authentication.FederatedAuthService" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="Microsoft.Exchange.Security.Authentication.FederatedAuthService.IAuthService" name="Microsoft.Exchange.Security.Authentication.FederatedAuthService" />
    </client>
  </system.serviceModel>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <linkedConfiguration href="file://C:\Program Files\Microsoft\Exchange Server\V15\ClientAccess\SharedWebConfig.config" />
  </assemblyBinding>
</configuration>
